:root {
  --main-black: #262526;
  --main-white: #f3f3f3;
  --main-gray: #afb2b6;
  --main-background: #d7d8da;
}

.modal {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: var(--main-white);
  box-shadow: 2px 2px 10px black;
  padding: 8px;
}

.modal p {
  text-transform: uppercase;
}

.modal button {
  background-color: var(--main-black);
  color: var(--main-white);
  text-transform: uppercase;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  border: 2px solid;
  border-color: var(--main-black);
}

.modal button:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}
