:root {
  --main-black: #262526;
  --main-white: #f3f3f3;
  --main-gray: #afb2b6;
  --main-background: #d7d8da;
}

.globalContainer {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  opacity: 100;
}

.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-left: 5rem;
  margin-bottom: 4rem;
  width: 90%;
}

.dogContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.paginationNumbers {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  gap: 0.5rem;
}

.paginationNumbers li {
  padding: 0.5rem;
  border: 2px solid;
  border-color: var(--main-black);
  cursor: pointer;
}

.paginationNumbers li:hover {
  background-color: var(--main-black);
  color: var(--main-white);
}

.paginationNumbers li.active {
  padding: 0.5rem;
  border: 2px solid;
  border-color: var(--main-black);
  cursor: pointer;
  background-color: var(--main-black);
  color: var(--main-white);
}

.modalContainer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 50%);
  z-index: 999;
  top: 0;
}

.modal {
  text-align: center;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: var(--main-white);
  box-shadow: 2px 2px 10px black;
  padding: 8px;
}

.modal p {
  text-transform: uppercase;
}

.modal button {
  background-color: var(--main-black);
  color: var(--main-white);
  text-transform: uppercase;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  border: 2px solid;
  border-color: var(--main-black);
}

.modal button:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}

@media screen and (max-width: 1150px) {
  .paginationNumbers {
    width: 80%;
  }
  .paginationNumbers li {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .globalContainer {
    margin-top: 9rem;
  }
}
