:root {
  --main-black: #262526;
  --main-white: #f3f3f3;
  --main-gray: #afb2b6;
  --main-background: #d7d8da;
}

.globalContainer {
  position: absolute;
  top: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--main-white);
  height: 1rem;
  padding: 1rem 0;
  animation: slideDown 1s;
  z-index: 4;
}

@keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 3rem;
  }
}

.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

@keyframes slide {
  from {
    top: -50px;
  }
  to {
    top: 50px;
  }
}

.searchbar {
  display: flex;
  gap: 0.5rem;
  background-color: var(--main-white);
  flex-grow: 1;
}

.searchbar_btn {
  padding: 0.5rem 1rem;
  background-color: var(--main-black);
  color: var(--main-white);
  border: 2px solid;
  border-color: var(--main-black);
  cursor: pointer;
  font-size: 1rem;
}

.searchbar_btn:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}

.searchbar_field {
  border: 2px solid;
  border-color: var(--main-black);
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--main-white);
  flex-grow: 1;
}

.select {
  position: relative;
  border: 2px solid;
  border-color: var(--main-black);
  background-color: var(--main-white);
  font-size: 1rem;
  padding: 0.5rem;
}

.dropdown {
  width: 400px;
  font-size: 1rem;
  background-color: var(--main-white);
  position: relative;
}

.dropdownBtn {
  background-color: var(--main-white);
  border: 2px solid var(--main-black);
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.dropdownContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--main-white);
  width: 100%;
  height: 500px;
  overflow-y: auto;
}

.dropdownItem {
  cursor: pointer;
  padding: 1rem 0;
  margin-left: 1rem;
}

.dropdownItem:hover {
  background-color: var(--main-black);
  color: var(--main-white);
}
