:root {
  --main-black: #262526;
  --main-white: #f3f3f3;
  --main-gray: #afb2b6;
  --main-background: #d7d8da;
}

.sidebarContainer {
  position: absolute;
  left: 0;
  width: 5rem;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--main-black);
  height: 100vh;
  margin-top: 6rem;
  animation: slide 1s;
  padding: 0.5rem;
}

@keyframes slide {
  0% {
    left: -100px;
  }
  50% {
    left: -100px;
  }
  100% {
    left: 0px;
  }
}

.itemsContainer {
  margin-top: 1.5rem;
  text-align: center;
  color: var(--main-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.itemSelected {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: 0.5rem solid;
  border-color: var(--main-white);
  color: var(--main-white);
}

.itemTitle {
  font-size: 1.5rem;
}

.itemDescription {
  font-size: 0.7rem;
}

.item:hover {
  border-left: 0.5rem solid;
  border-color: var(--main-white);
  color: var(--main-white);
}

.changeThemeBtn {
  text-transform: uppercase;
  border: 2px solid var(--main-white);
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--main-black);
  color: var(--main-white);
}

.changeThemeBtn:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}
