:root {
  --main-black: #262526;
  --main-white: #f3f3f3;
  --main-gray: #afb2b6;
  --main-background: #d7d8da;
}

.sidebarContainer {
  position: absolute;
  float: left;
  width: 80px;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--main-black);
  height: 100%;
  margin-top: 100px;
  animation: slide 1s;
}

@keyframes slide {
  0% {
    left: -100px;
  }
  50% {
    left: -100px;
  }
  100% {
    left: 0px;
  }
}

.itemsContainer {
  margin: 24px 0;
  text-align: center;
  color: var(--main-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.itemSelected {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: 5px solid;
  border-color: var(--main-white);
  color: var(--main-white);
}

.itemTitle {
  font-size: 24px;
}

.itemDescription {
  font-size: 10px;
}

.item:hover {
  border-left: 5px solid;
  border-color: var(--main-white);
  color: var(--main-white);
}

.hr {
  border: 1px solid;
  border-color: --main-gray;
  width: 75%;
}
