:root {
  --main-black: #262526;
  --main-white: #f3f3f3;
  --main-gray: #afb2b6;
  --main-background: #d7d8da;
}

.globalContainer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background);
}

.container {
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scale 2s;
  margin-top: 5rem;
}

@keyframes scale {
  0% {
    scale: 90%;
  }
  50% {
    scale: 105%;
  }
  100% {
    scale: 100%;
  }
}

.dogContainer {
  margin-top: 2rem;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 2px 2px 10px black;
  background-color: var(--main-white);
}

.imageContainer {
  width: 50%;
  background-image: url("../../images/dog-icon.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-gray);
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dogName {
  background-color: var(--main-black);
  color: var(--main-white);
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.physicalContent {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.physicalItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.physicalTitle {
  background-color: var(--main-black);
  color: var(--main-white);
  text-transform: uppercase;
  padding: 0.25rem;
}

.physicalData {
  font-size: 1.5;
}

.otherContent {
  margin-top: 1.5rem;
}

.titleContent {
  text-transform: uppercase;
  background-color: var(--main-black);
  color: var(--main-white);
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.temperamentContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.temperamentContent span {
  border: 2px solid;
  border-color: var(--main-black);
  padding: 0.25rem;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.dataContent {
  text-align: center;
  margin-top: 0.25rem;
}

.deleteBtn {
  margin-top: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
  cursor: pointer;
  border: 2px solid;
  border-color: red;
  color: var(--main-white);
  background-color: red;
}

.deleteBtn:hover {
  background-color: var(--main-white);
  color: red;
}

.commentsContainer {
  margin-top: 2rem;
  margin-left: 1rem;
  width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px black;
  background-color: var(--main-white);
  position: relative;
}

.commentsSection {
  width: calc(100% - 2rem);
  background-color: var(--main-white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  overflow-y: auto;
}

.formComment {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.formField {
  padding: 0.5rem;
  background-color: var(--main-white);
  border: 2px solid var(--main-black);
  flex-grow: 1;
}

.btn {
  background-color: var(--main-black);
  color: var(--main-white);
  padding: 0.5rem;
  border: 2px solid var(--main-black);
  cursor: pointer;
  text-transform: uppercase;
}
.btn:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}

.comment {
  width: 100%;
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
}

.comment span {
  font-size: 0.75rem;
  font-weight: bold;
}

.disabledBtn {
  background-color: var(--main-gray);
  color: var(--main-black);
  padding: 0.5rem;
  border: 2px solid var(--main-black);
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .dogContainer {
    width: 700px;
  }
  .commentsContainer {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .dogContainer {
    width: 600px;
  }
  .commentsContainer {
    display: none;
  }
}
